<ion-view view-title="Asset">
  <ion-content  overflow-scroll="false">
    <div class="row">
      <div class="col">
        <h3>Asset</h3>
      </div>
      <div class="col col-offset-50">
        <img src="img/icon-home.png">
      </div>
    </div>
    <div class="list">
      <a class="item" href="#">
        <div class="row">
          <div class="col col-33 text-center">
            <h3>Type:</h3>
          </div>
          <div class="col col-50">
            <p>House</p>
          </div>
        </div>
      </a>

      <a class="item" href="#">
        <div class="row">
          <div class="col col-33 text-center">
            <h3>Location:</h3>
          </div>
          <div class="col col-50">
            <p>99, Av de Bois</p>
            <p>L-1250, Luxembourg</p>
          </div>
        </div>
      </a>

      <a class="item" href="#">
        <div class="row">
          <div class="col col-33 text-center">
            <h3>Surface (m2):</h3>
          </div>
          <div class="col col-50">
            <p>250</p>
          </div>
        </div>
        <div class="row">
          <div class="col col-33 text-center">
            <h3>Confort:</h3>
          </div>
          <div class="col col-50">
            <p>Medium</p>
          </div>
        </div>

        <div class="row">
          <div class="col col-33 text-center">
            <h3>Complexity:</h3>
          </div>
          <div class="col col-50">
            <p>Medium</p>
          </div>
        </div>
      </a>

      <a class="item" href="#">
        <div class="row">
          <div class="col col-33 text-center">
            <h3>Register id:</h3>
          </div>
          <div class="col col-50">
            <p>134S2W99</p>
          </div>
        </div>
      </a>

      <a class="item" href="#">
        <div class="row">
          <div class="col col-33 text-center">
            <h3>Owner</h3>
          </div>
          <div class="col col-50">
            <p>Claude-Henri Convent</p>
          </div>
        </div>
      </a>

    </div>


  </ion-content>
</ion-view>
