<ion-view view-title="Home">
  <ion-content overflow-scroll="false">

    <div class="list">

      <div class="item item-divider">
        Assets Owned
      </div>
      <div class="item" href="#">
        <div class="row">
          <div class="col col-33 text-center">
            <a ng-href="#/asset" class="no-deco">
              <img src="img/icon-home.png">
              <p>99, Av du Bois</p>
              <p>L-1250</p>
              <p> Luxembourg</p>
            </a>
          </div>
          <div class="col col-33 text-center">
            <a href="#" class="no-deco">
              <img src="img/icon-home.png">
              <p>Fayefon</p>
              <p>F-58350</p>
              <p>Chateauneuf</p>
            </a>
          </div>
          <div class="col col-33 text-center">
            <a href="#" class="no-deco">
              <img src="img/icon-car.png">
              <p>Fiat</p>
              <p>KM5273</p>
            </a>
          </div>
        </div>
      </div>

      <div class="item item-divider">
        Smart Contracts
      </div>
      <div class="item" href="#">
        <div class="row">
          <div class="col text-center">
            <a href="#" class="no-deco">
              <img src="img/icon-contract.png">
              <p>Rental</p>
              <p>contract</p>
            </a>
          </div>
          <div class="col text-center">
            <a href="#" class="no-deco">
              <img src="img/icon-contract.png">
              <p>Mortgage</p>
            </a>
          </div>
          <div class="col text-center">
            <a ng-href="#/insurance" class="no-deco">
              <img src="img/icon-contract.png">
              <p>Home</p>
              <p>Insurance</p>
            </a>
          </div>
        </div>
      </div>

      <div class="item item-divider">
        Devices
      </div>
      <div class="item" href="#">
        <div class="row">
          <div class="col text-center">
            <a href="#" class="no-deco">
              <img src="img/icon-smoke.png">
              <p>Smoke</p>
              <p>Detector</p>
            </a>
          </div>
          <div class="col text-center">
            <a href="#" class="no-deco">
              <img src="img/icon-security.png">
              <p>Security</p>
              <p>Alarm</p>
            </a>
          </div>
        </div>
      </div>

      <div class="item item-divider">
        Smart Apps
      </div>
      <div class="item" href="#">
        <div class="row">
          <div class="col text-center">
            <a href="#" class="no-deco">
              <img src="img/icon-risk.png">
              <p>Risk mgt</p>
              <p>Smart app</p>
            </a>
          </div>
          <div class="col text-center">
            <a href="#" class="no-deco">
              <img src="img/icon-inventory.png">
              <p>Inventory Smart app</p>
            </a>
          </div>
        </div>
      </div>

      <div class="item item-divider">
        Identities
      </div>
      <div class="item" href="#">
        <div class="row">
          <div class="col text-center">
            <a ng-href="#/identity" class="no-deco">
              <img src="img/icon-identity.png">
              <p>Claude-Henri</p>
              <p>Convert</p>
            </a>
          </div>
        </div>
      </div>

    </div>

  </ion-content>
</ion-view>
