<ion-view view-title="Identity">
  <ion-content>
    <div class="row">
      <div class="col col-50">
        <h4 class="positive">Identity</h4>
      </div>
      <div class="col col-25 col-offset-25">
        <img src="img/icon-identity.png" alt="" />
      </div>
    </div>
    <div class="list">
      <div class="item" href="#">
        <div class="row">
          <div class="col col-33">
            <h3>Name:</h3>
          </div>
          <div class="col col-50">
            <p>Claude-Henri Convent</p>
          </div>
        </div>
      </div>

      <div class="item" href="#">
        <div class="row">
          <div class="col col-33">
            <h3>Residential<h3>
              <h3> address:</h3>
          </div>
          <div class="col col-50">
            <p>99, Av de Bois</p>
            <p>L-1250, Luxembourg</p>
          </div>
        </div>
      </div>

      <div class="item" href="#">
        <div class="row">
          <div class="col col-33">
            <h3>Tel:</h3>
          </div>
          <div class="col col-50">
            <p>+352 2 620 3214</p>
          </div>
        </div>
        <div class="row">
          <div class="col col-33">
            <h3>Mob:</h3>
          </div>
          <div class="col col-50">
            <p>+352 661 72 50 70</p>
          </div>
        </div>
      </div>

      <div class="item" href="#">
        <div class="row">
          <div class="col col-25">
            <h3>email:</h3>
          </div>
          <div class="col col-75">
            <p><a href="#">claudehenri.convent@me.com</a></p>
          </div>
        </div>
      </div>

    </div>


  </ion-content>
</ion-view>
