<ion-view view-title="Home Insurance">
  <ion-content>
    <div class="row">
      <div class="col col-offset-20 col-60">
        <em class="positive">
          connect smart app application
        </em>

      </div>
      <div class="col col-15 text-center">
        <img src="img/icon-smart-app.png" alt="" />

      </div>

    </div>
    <div class="row">
      <div class="col col-50">
        <h4 class="positive">Home Insurance</h4>
      </div>
      <div class="col col-25 col-offset-25 text-center">
        <h4 class="balanced">Actif</h4>
        <p class="assertive">payment due</p>
      </div>
    </div>
    <div class="list">
      <a class="item no-padding" href="#">
        <div class="row">
          <div class="col col-40">
            <h3>Contract number:</h3>
          </div>
          <div class="col col-50">
            <p>10/0189448</p>
          </div>
        </div>
      </a>

      <a class="item no-padding" href="#">
        <div class="row">
          <div class="col col-33 ">
            <h3>Insured:</h3>
          </div>
          <div class="col col-50">
            <p>Claude-Henri Convent</p>
          </div>
          <div class="col col-10">
            <img src="img/contact.png" alt="" />
          </div>
        </div>
      </a>

      <a class="item no-padding" href="#">
        <div class="row">
          <div class="col col-33">
            <h3>Insurer:</h3>
          </div>
          <div class="col col-50">
            <p>ABC Assurance</p>
          </div>
          <div class="col col-10">
            <img src="img/contact.png" alt="" />
          </div>
        </div>
        <div class="row">
          <div class="col col-33">
            <h3>Agent:</h3>
          </div>
          <div class="col col-50">
            <p>Agence Wagner</p>
          </div>
          <div class="col col-10">
            <img src="img/contact.png" alt="" />
          </div>
        </div>

        <div class="row">
          <div class="col col-33">
            <h3>First line <br> support:</h3>
          </div>
          <div class="col col-50">
          </div>
          <div class="col col-10">
            <img src="img/contact.png" alt="" />
          </div>
        </div>
      </a>

      <a class="item no-padding" href="#">
        <div class="row">
          <div class="col col-33 ">
            <h3>Risk location:</h3>
          </div>
          <div class="col col-50">
            <p>99, av du Bois</p>
            <p>L-1250 Luxembourg</p>
          </div>
        </div>
      </a>

      <a class="item no-padding" href="#">
        <div class="row">
          <div class="col col-50 ">
            <h3>Contract termination</h3>
          </div>
          <div class="col col-50">
            <p>30 Juin 2017</p>
          </div>
        </div>
      </a>

      <div class="item">
        <div class="row">
          <div class="col text-center">
            <button class="button button-large button-positive">
              Guaranties and amounts
            </button>
          </div>
        </div>

        <div class="row">
          <div class="col text-center">
            <button class="button button-large button-positive">
              New Claim
            </button>

          </div>
          <div class="col text-center">
            <button class="button button-large button-positive">
              Claims follow-up
            </button>
          </div>

        </div>
      </div>

    </div>


  </ion-content>
</ion-view>
