<ion-view id="login" hide-nav-bar="true">
    <ion-content padding="true" scroll="false">
        <form>
            <div class="row responsive-md">
                <div class="col col-50 col-offset-25">

                    <div class="header padding text-center">
                        <img src="img/login.jpg" alt="login"/>
                    </div>

                    <div class="sub-header padding text-center">
                        <img src="img/luxtrust.jpg" alt="trust"/>
                    </div>

                    <div class="list">
                      <div class="item item-input-inset">
                        <label class="item-input-wrapper">
                          <input type="text" placeholder="User ID">
                        </label>
                        <button class="button icon-right ion-help button-small">
                        </button>
                      </div>
                      <div class="item item-input-inset">
                        <label class="item-input-wrapper">
                          <input type="text" placeholder="Password">
                        </label>
                        <button class="button icon-right ion-help button-small">
                        </button>
                      </div>
                      <div class="item item-input-inset">
                        <label class="item-input-wrapper">
                          <input type="text" placeholder="OTP">
                        </label>
                        <button class="button icon-right ion-help button-small">
                        </button>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col">
                        <button class="button button-outline button-stable">
                          Annuler
                        </button>
                      </div>
                      <div class="col">
                        <button class="button button-outline button-stable">
                          S'authentifier
                        </button>
                      </div>

                    </div>

                  </div>
              </div>

        </form>
    </ion-content>
</ion-view>
